<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--     <link rel="shortcut icon" href="/assets/images/favico.png" />
 -->

 	<!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|PT+Serif:400,,400italic' rel='stylesheet' type='text/css'>

 	<!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">

</head>
<body>
	

	{{ content }}

</body>
</html>